@import "_colors.scss";

html {
    height: 100%;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #fff;
    min-height: 100%;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    margin: 0 0 30rem;
    flex: 1;
}

.container {
    width: auto;
    max-width: 1060px;
}

.start-container {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
}

.wrapper {
    min-height: 100%;

}
p {
    color: $color-black;
}

h1 {
    font-size: 4.2rem;
    color: $color-primary-2;
    font-weight: 600;
}

a {
    font-weight: 400;
    color: $color-primary-1;
    -webkit-transition: .25s ease-out;
    transition: .4s ease-out;
    cursor: pointer;

    &:hover {
        color: $color-primary-2;
        text-decoration: none;
    }
}

.side-info {
    font-size: 1.6rem;
    list-style: none;
    padding: 0;
    color: $color-grey-4;
    &__email {
        margin-top: 1.825rem;
    }
}

.side-title {
    margin-top: 3rem;
    font-weight: 600;
    color: $color-grey-5;
    font-size: 1.8rem;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: relative;
    display: block;
}


.nav > a {
    padding: 10px 12px;
    font-size: 1.6rem!important;
}

.navbar-nav>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 26px;
    font-weight: 400;
}

.navbar-nav {
    margin-top: 2.8rem;
    float: right;
    font-size: 1.6rem;
    font-weight: 400;
}

.navbar-default {
    background: transparent;
    border: none;
}

.navbar-header {
    margin-top: 0.8rem;
}

.navbar-header > svg {
    fill: $color-white;
    width: 15rem;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: $color-white;
}

.navbar-default .navbar-nav > a {
    color: $color-grey-4;
}

.navbar-default .navbar-toggle {
    border-color: transparent;

}
.navbar-default .navbar-toggle   .icon-bar {
    background-color: $color-white;
    width: 25px;
}


.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.article-title {
    font-size: 4rem;
}