@import "_colors.scss";

html {
    height: 100%;
}

body {
    font-family: 'Karla', sans-serif;
    min-height: 100%;
    display: flex;
    font-size: 18px;
    flex-direction: column;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

.react-count-down {
    font-size: 3.2rem;
    padding: 2rem;
    font-weight: 700;
    color: $color-black;
    text-align: center;
}

.wrapper {
    min-height: calc(100vh - 50px);
    flex: 1;
}

.start-container {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
}

p {
    color: $color-grey-4!important;
}

h1 {
    font-size: 4.2rem;
    color: $color-grey-4;
}

h4 {
    text-transform: uppercase;
    color: $color-black;
}

a {
    font-weight: 400;
    color: $color-primary-1;
    -webkit-transition: .25s ease-out;
    transition: .4s ease-out;
    cursor: pointer;

    &:hover {
        color: $color-primary-2;
        text-decoration: none;
    }
}

.side-info {
    font-size: 1.6rem;
    list-style: none;
    padding: 0;
    color: $color-grey-4;
    &__email {
        margin-top: 1.825rem;
    }
}

.side-title {
    margin-top: 3rem;
    font-weight: 600;
    color: $color-grey-5;
    font-size: 1.8rem;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: relative;
    display: block;
}


.nav > a {
    padding: 18px;
    font-size: 1.6rem!important;
}

.navbar-nav>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 26px;
    font-weight: 400;
}

.navbar-nav {
    margin-top: 2.8rem;
    float: right;
    font-size: 1.6rem;
    font-weight: 400;
}

.navbar-default {
    background: transparent;
    border: none;
}

.navbar-header {
    margin-top: 0.4rem;
}

.navbar-header > svg {
    fill: $color-white;
    width: 18rem;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: $color-white;
}

.navbar-default .navbar-nav > a {
    color: $color-grey-4;
}

.navbar-default .navbar-toggle {
    border-color: transparent;

}
.navbar-default .navbar-toggle   .icon-bar {
    background-color: $color-white;
    width: 25px;
    height: 3px;
}

.navbar-toggle {
    margin-right: 0px;
    float: left;
    margin-top: 6px;
}

.navbar-brand {
    padding: 1.5rem 0;
}


.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.article-title {
    font-size: 3.8rem;
    font-weight: 300;
    color: $color-black;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 640px) {
    .article-title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

.article-end {
    margin-top: 2rem;
}

.App {
    display: flex;
}

.App-header {
    width: 100%;
}

.thank-you {
    margin-left: 0;
}
