.sm-btn {
    background-color: $color-primary-1;
    color: $color-white;
    padding: 4px 8px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
    width: 40px;
    display: inline-block;
}

.btn {
    background-color: $color-primary-2;
    color: $color-white;
    padding: 1.65rem 2rem;
    margin-top: -2px;
    border-radius: 0;
    &:hover {
        color: $color-white;
        background-color: $color-primary-3;
    }
}

.input-field {
    display: inline-block;
}