.sm-btn {
    background-color: $color-primary-1;
    color: $color-white;
    padding: 4px 8px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
    width: 40px;
    display: inline-block;
}

.btn {
    background-color: $color-primary-1;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;    color: $color-white;
    padding: 2rem 2rem;
    outline: none;
    margin-left: 0.5rem;
    border-radius: 0;
    transition: 0.2s ease-in;
    &:hover {
        color: $color-white;
        background-color: #078c6d;
    }
    &:focus {
        color: $color-white;
    }
}

.input-field {
    display: inline-block;
}

.show-more-button {
    background-color: transparent;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 2px solid $color-grey-3;
    font-weight: 600;
    user-select: none;
    margin-top: 2rem;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    &:focus {
        outline: none;
    }
}