.sm-btn {
    background-color: $color-primary-1;
    color: $color-white;
    padding: 4px 8px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
    width: 40px;
    display: inline-block;
}

.btn {
    background-color: $color-greyblue-1;
    color: $color-white;
    font-weight: 700;    
    color: $color-white;
    margin-left: 1rem;
    border: none;
    margin-top: -2px;
    padding: 1.2rem 2rem;
    outline: none;
    border-radius: 0;
    transition: 0.2s ease-in;
    &:hover {
        color: $color-white;
    }
    &:focus {
        color: $color-white;
    }
}

.input-field {
    display: inline-block;
}

.show-more-button {
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: transparent;
    padding: 1rem 2rem;
    border: 1px solid $color-grey-3;
    font-weight: 500;
    user-select: none;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    &:focus {
        outline: none;
    }
}