
$color-primary-1: #0AB68E;
$color-primary-2: #007949;
$color-primary-3: #003F24;
$color-primary-4: #205440;

$color-primary: #3eb66f;


$color-blue: #003057;

$color-white: #ffffff;
$color-black: #121212;

$color-grey-0: #f1f1f1;
$color-grey-1: #f7f7f7;
$color-grey-2: #e6e6e6;
$color-grey-3: #a9a9a9;
$color-grey-4: #525252;
$color-grey-5: #757575;
$color-grey-6: #4c4c4c;
$color-grey-7: #323232;

$color-grey-blue: #5e6c79;
$color-aqua: #6fc8cb;

.color-aqua {
    color: $color-aqua;
    font-size: 1.4rem;
    font-weight: 600;
}

.color-grey {
   background-color: $color-grey-6;
   color: white;
}