.footer-container {
    box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,.06);
    background: $color-grey-0;
    color: #757575;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.footer-class {
    padding: 45px 0;
        display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 4.5rem 0rem;
    margin-bottom: 2rem;
    justify-content: center;

    .footer-heading {
        padding: 0.5rem;
    }
    
    .info, .info-link {
        padding: 1rem 2rem;
        display: block;
    }
}

.info a {
    color: $color-grey-5;
}

.info-text {
        padding: 1rem 2rem;
}

.info-link {
    display: inline-block!important; 
    justify-content: center;
}

.border {
    border-bottom: 1px solid #a9a9a9;
}

.footer-class-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0rem 0rem;
    justify-content: center;
    margin-bottom: 4rem;
    font-size: 1.4rem;
    color: $color-grey-6;
}