#root {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.main-text {
    margin: 3rem 0;
    line-height: 2.5rem;
    color: $color-grey-4;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: left;
    h4 {
        font-weight: 600;
        line-height: 1.5rem;
    }
}

.main-title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.start-page {
    justify-content: center;
    text-align: center;

    &__image-block-1 {
        min-height: 445px;
        background: url(../images/mobile-bg.jpg);
        background-position: 50% 20%;
        background-repeat: no-repeat;
        background-size: cover;    

    }

    &__image-block-2 {
        min-height: 445px;
        background: url(../images/skynight.png);
        background-position: 50% 20%;
        background-repeat: no-repeat;
        background-size: cover;        
    }

    &__video {
        width: 100%;
        height: 600px;
    }
    &__conatiner {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    &__column {
        padding: 30px 2.5% 25px;
        font-weight: 600;
        min-height: 40rem;
        border-right: 1px solid $color-grey-2;
        text-align: left;

        &:last-child {
            border-right: none;
        }

        &--text {
            font-weight: 300;
        }
        &--title {
            padding-bottom: 2rem;
            font-size: 2rem;
            text-transform: uppercase;
            text-align: center;
        }
    }

    &__icon {
        width: 14rem;
        padding: 0rem 3rem;
        padding-bottom: 5rem;
        display: block;
        min-height: 17rem;
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        &--wheel {
            width: 12rem;   
        }
        &--chain {
            width: 12rem;   
        }
    }
    
    &__section-1 {
        max-width: 1170px;
        
        padding: 75px 2.5% 85px;
        min-height: 30rem;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        &--text {
            padding: 30px 2.5% 25px;
            text-align: center;
        }
    }
    &__section-2 {
        max-width: 1170px;
        padding: 75px 2.5% 85px;
        min-height: 60rem;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        border-bottom: 1px solid $color-grey-2;

    }
    &__section-3 {
        max-width: 1170px;
        padding: 75px 2.5% 85px;
         min-height: 30rem;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    &__section-4 {
        max-width: 1170px;
        padding: 75px 2.5% 85px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
}


.main-text-item {
    padding: 0.5rem 0;
}