#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-text {
    margin: 3rem 0;
    line-height: 2.25rem;
    h4 {
        font-weight: 600;
        line-height: 1.5rem;
    }
}

.start-page {
    display: flex;
    justify-content: center;
}