.start-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-size: cover; }

p {
  color: #222222; }

h1 {
  font-size: 4.2rem;
  color: #007949;
  font-weight: 600; }

.side-info {
  font-size: 1.6rem;
  list-style: none;
  padding: 0;
  color: #525252; }
  .side-info__email {
    margin-top: 1.825rem; }

.side-title {
  margin-top: 3rem;
  font-weight: 600;
  color: #323232;
  font-size: 1.8rem; }

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  background-color: $color-white;
  display: block; }

.navbar-nav {
  float: right;
  font-size: 1.6rem;
  font-weight: 600;    
  }


    .navbar-default {
        background: transparent;
        color: #ffffff;
        box-shadow: none;
    }
    .navbar-default .navbar-nav > a {
        color: $color-grey-8;
        border: 1px solid transparent;
        &:hover {
            color: $color-grey-4;
        }
    }

    .navbar-header > svg {
        width: 8rem;
        fill: $color-black;
    }
.navbar-nav > li > a {
      border: 1px solid transparent;
}


.navbar {
      margin-bottom: 0px;
      top: 0;
      left: 0;
      border-radius: 0;
      min-height: 8rem;
      width: 100%;
      background-color: $color-white;
      box-shadow: 0 3px 0 rgba(0,0,0,.05);
}

.navbar-header {
  margin-top: 0.2rem; 
  }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  text-decoration: none;
  color: #323232; }

  .navbar-default .navbar-nav>.open>a {
    transition: none;
  }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: $color-grey-3;
  width: 23px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent; 
  }

.newsletter-signup {
    justify-content: center;
    display: flex;
    background-color: $color-grey-7;
    text-align: center;
    min-height: 22rem;

}

.news-letter-title {
  padding: 5px 0% 5px;
  font-size: 1.8rem;
  font-weight: 300;
  color: $color-white;
}

    @media screen and (max-width: 480px) {
    .news-letter-title {
       font-size: 1.8rem;
    }
    .start-page__video {
      height: 250px;
    }
    .start-page__column {
      min-height: 25rem;
      padding: 10px 10% 15px;
    }
    .start-page__icon {
      min-height: 5rem;
    }
    .start-page__section-1--text {
      font-size: 1.6rem;
    }
    .start-page__section-1 {
        padding: 35px 2.5% 35px;
    }
    .section__video-container {
      height: 250px!important;
    }
    .section__small-box {
      margin-top: 2rem;
    }
  }



 .thank-you {
   margin-left: 0;
 }

.fade-wait-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity .4s ease-in;
}

.fade-wait-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .4s ease-in .6s;
}

.fade-wait-height {
  transition: height .6s ease-in-out;
}

.newsletter-input {
  padding: 1.2rem 1.5rem;
  width: 42rem;
  font-size: 1.4rem;
}

  textarea:focus, input:focus{
    outline: none;
}
