.start-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-size: cover; }

p {
  color: #222222; }

h1 {
  font-size: 4.2rem;
  color: #007949;
  font-weight: 600; }

a {
  font-weight: 400;
  color: $color-primary-2;
  -webkit-transition: .25s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer; }
  a:hover {
    color: #007949;
    text-decoration: none; }

.side-info {
  font-size: 1.6rem;
  list-style: none;
  padding: 0;
  color: #525252; }
  .side-info__email {
    margin-top: 1.825rem; }

.side-title {
  margin-top: 3rem;
  font-weight: 600;
  color: #323232;
  font-size: 1.8rem; }

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  display: block; }

.navbar-nav > a {
  padding: 20px 20px;
  color: $color-white;
  font-weight: 700; 
  }

.navbar-nav {
  margin-top: 1.4rem;
  float: right;
  font-size: 1.4rem;
  font-weight: 400; 
  
    
  }

.navbar-default {
  background: $color-grey-7;
  border: none; 
  color: $color-white;
  position: relative;

    .container {
      width: auto;
    }
  }

.navbar {
      margin-bottom: 0px;
}

.navbar-header {
  margin-top: 0.2rem; 
  }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  text-decoration: none;
  color: #323232; }

.navbar-default .navbar-nav > a {
    -webkit-transition: .25s ease-out;
    transition: .4s ease-out;
    color: $color-grey-2;
    &:hover {
          color: $color-white;
    } 
  }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: $color-white;;
  width: 25px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent; 
  }

.newsletter-signup {
    justify-content: center;
    display: flex;
    text-align: center;
}

.news-letter-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1rem;
  margin-left: 74.5px;
  font-weight: 700;
  margin-top: 3rem;
  text-shadow: 0.5px 1.2px 0.2px #999;
  color: $color-white;
}

 .thank-you {
   margin-left: 0;
 }

.fade-wait-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity .4s ease-in;
}

.fade-wait-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .4s ease-in .6s;
}

.fade-wait-height {
  transition: height .6s ease-in-out;
}

.newsletter-input {
  padding: 1.5rem 1rem;
  width: 40rem;
  border: none;
}