.hide-on-desktop {
    position: relative;
    width: 100%;
    height: 100vh;
}

@media (max-width: 640px) and (min-width: 0) {
    .hide-on-mobile {
        display: none !important;
        visibility: hidden;
    }
    .job-page__title {
        text-align: left!important;
        padding: 0!important;
    }
    .second-row{
        margin-top: 2rem!important;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 0;
        width: 765px;
    }
}

@media only screen and (min-width: 1100px) {
    .container {
            padding-right: 15px;
    padding-left: 15px;
        width: auto;
    }
}


@media (min-width: 640px) {
    .hide-on-desktop {
        display: none !important;
        visibility: hidden;
    }
}

@media only screen and (max-width: 760px) {
    .header-section__text {
        max-width: 100%!important;
    }
    .image-container {
        padding: 50px 2.5% 75px!important;
        min-height: 25rem!important;
    }

    .image-container--contact {
        padding: 50px 2.5% 75px!important;
        min-height: 25rem!important;        
    }

    .image-container--about {
        padding: 50px 2.5% 75px!important;
        min-height: 25rem!important;        
    }

    .image-container--invest {
        padding: 50px 2.5% 75px!important;
        min-height: 25rem!important;        
    }

    .job-page__column {
            padding: 5px 2.5% 5px!important;
            border-right: none!important;
            min-height: auto!important;
    }
    .small-box {
        padding: 5px 10px!important;
        min-height: auto!important;
    }
    .side-title {
            margin-top: 2rem!important;
    }
    .news-letter-title {
            padding: 15px 1% 5px;
    }
    .start-page__section-4 {
        padding: 55px 45px !important;
    }
    .start-page__section-2 {
        padding: 30px 5px !important;
    }
    .grey-section {
            padding: 20px 0px 35px!important;
    }
    .start-page__section-1--text {
        padding: 10px!important;
    }
    .start-page__column {
        border-right: none;
        text-align: center;
        min-height: 20rem;
        padding: 10px;
    }
    .section-title:empty {
        display: none;
    }
    .start-page__icon {
        padding-top: 2rem!important;
    }
    .navbar-nav {
        margin-top: 0.8rem;
    }
    .about-page__text-box {
        padding: 20px 30px 15px!important;
    }
    .show-more-button {
        margin-top: 1rem;
    }
    .hidden-mobile {
        display: none;
    }
    .article-title {
        margin-top: 2rem!important;
    }

    .section__small-box {
            min-height: 310px!important;
    }
    .header-section .main-title {
        font-size: 4rem!important;
    }
    .job-page__column 

}
