.hide-on-desktop {
    position: relative;
    width: 100%;
    height: 100vh;
}

@media (max-width: 640px) and (min-width: 0) {
    .hide-on-mobile {
        display: none !important;
        visibility: hidden;
    }
    .job-page__title {
        text-align: left!important;
        padding: 0!important;
    }
    .second-row{
        margin-top: 2rem!important;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 0;
        min-width: 765px;
        width: auto;
    }

}

@media only screen and (min-width: 1100px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        min-width: 765px;
        width: auto;
    }
}


@media (min-width: 640px) {
    .hide-on-desktop {
        display: none !important;
        visibility: hidden;
    }
}
@media only screen and (max-width: 990px) {
    .press-image {
        line-height: 0rem!important;
        height: 8rem!important;
        width: auto;
    }
    .press-image img {
        padding: 0!important;
        margin-left: 0;
        max-width: 20rem!important;
        margin-right: 0;
        max-height: 10rem!important;
        line-height: 0rem;
        max-width: auto;
    }

    .tech-image {
        width: 30rem;
        max-height: 15rem!important;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        border: none;
    }
}

@media only screen and (max-width: 760px) {
    
    .dropdown-menu {
        padding: 1rem 0;
    }
    .start__header-title {
        font-size: 4rem!important;
    }

    .navbar-nav .open .dropdown-menu {
        background-color: #f5f5f5;
    }

    .header-section__text {
        max-width: 100%!important;
    }
    .image-container {
        padding: 50px 2.5% 75px!important;
        min-height: 25rem!important;
    }
    .footer-class .info, .footer-class .info-link {
        display: block!important;
        padding: 0.5rem 0rem;
    }
    .footer-class {
        display: block;
    }
    .second-row {
        margin-top: 0!important;
    }

    .navbar-default .container {
        padding: 0;
    }


    .image-container--contact {
        padding: 50px 2.5% 75px!important;
        min-height: 25rem!important;        
    }

    .image-container--about {
        padding: 50px 2.5% 75px!important;
        min-height: 25rem!important;        
    }

    .image-container--invest {
        padding: 50px 2.5% 75px!important;
        min-height: 25rem!important;        
    }

    .image-container--product {
        padding: 50px 2.5% 75px!important;
        min-height: 25rem!important;             
    }

    .press-release__press-title {
        font-size: 2.5rem!important;
    }

    .job-page__column {
            padding: 5px 2.5% 5px!important;
            border-right: none!important;
            min-height: auto!important;
    }
    .small-box {
        padding: 5px 10px!important;
        min-height: auto!important;
    }
    .side-title {
            margin-top: 2rem!important;
    }
    .news-letter-title {
            padding: 15px 1% 5px;
    }
    .start-page__section-4 {
        padding: 35px 5px !important;
    }
    .start-page__section-2 {
        padding: 30px 5px !important;
    }
    .grey-section {
            padding: 20px 0px 35px!important;
    }
    .start-page__section-1--text {
        padding: 10px!important;
    }
    .start-page__column {
        border-right: none;
        text-align: center;
        min-height: 20rem;
        padding: 10px;
    }
    .section-title:empty {
        display: none;
    }
    .start-page__icon {
        padding-top: 2rem!important;
    }
    .navbar-nav {
        width: 100%;
        padding: 8px 0;
    }
    .about-page__text-box {
        padding: 20px 30px 15px!important;
    }
    .show-more-button {
        margin-top: 1rem;
    }
    .hidden-mobile {
        display: none;
    }
    .article-title {
        margin-top: 2rem!important;
    }

    .section__small-box {
            min-height: 310px!important;
    }
    .header-section .main-title {
        font-size: 4rem!important;
    }
    .navbar-default .navbar-nav > a {
        border-bottom: 1px solid $color-grey-2!important;
        padding: 2rem 2rem;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        width: 100%;
}

.navbar-nav > li {
    display: block;
}


.navbar-nav > li > a {
        padding: 2rem 2rem;
        border-bottom: 1px solid $color-grey-2!important;
        margin-top: 0rem;
        width: 100%;

    }
    .navbar-collapse {
        padding-bottom: 0;
    }
    .navbar-toggle {
        margin-left: 1.5rem;
    }
    a.dropdown-menu-item {
        border: none;
        font-weight: 300;
    }

}
