.hide-on-desktop {
    position: relative;
    width: 100%;
    height: 100vh;
}

@media (max-width: 640px) and (min-width: 0) {
    .hide-on-mobile {
        display: none !important;
        visibility: hidden;
    }
}

@media (min-width: 640px) {
    .hide-on-desktop {
        display: none !important;
        visibility: hidden;
    }
}
