.press-release {
    padding: 4rem;
    padding-bottom: 0rem;

    &__title {
        color: $color-grey-8!important;
        padding: 4rem;

    }
    &__press-title {
        font-size: 4rem;
    }
    &__regular {
        margin: 2.5rem 0;
        line-height: 2.5rem;
    }
    &__italic {
        font-style: italic;
    }

    &__date {
        font-size: 1.8rem;
        text-align: center;
        color: $color-grey-3;
    }
    &__bread {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    &__sub-title {
        margin: 1.5rem;
    }
}

.pressReleasePage {
    &__image {
        width: 100%;
    }

    &__image-gallery {
        width: 100%;
    }

    &__news {
        margin: 2rem 0;
    }
    &__download {
      margin: 1.5rem 0;
      .btn {
          margin-left: 0rem;
      }
    }

}