.grey-section {
    background-color: $color-grey-1;
    padding: 50px 2.5% 55px;
}
.white-section {
    background-color: $color-white;
    padding: 50px 2.5% 55px;
}

.light-section {
    padding: 0px 2.5% 5px;
}

.section {
    &__small-box {
        min-height: 150px;
        padding: 2.5rem;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__video-container {
        height: 450px;
        border-width: 0px;
    }
    &__main-text {
        font-size: 1.6rem;
    }
}

* {
    border-width: 0;
}

.image-container {
    padding: 100px 2.5% 80px;
    background: linear-gradient(
                     rgba(20,20,20, .2), 
                     rgba(20,20,20, .1)),
    url(../images/Tpod_Material4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30rem;
}

.image-container--about {
    padding: 100px 2.5% 80px;
    background: linear-gradient(
                     rgba(20,20,20, .2), 
                     rgba(20,20,20, .1)),
    url(../images/skynight.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    min-height: 30rem;
}

.image-container--product {
    padding: 100px 2.5% 80px;
    background: linear-gradient(
                     rgba(20,20,20, .2), 
                     rgba(20,20,20, .1)),
    url(../images/Tpod_Material10.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    min-height: 30rem;

}

.image-container--press {
    padding: 100px 2.5% 80px;
    background: linear-gradient(
                     rgba(20,20,20, .2), 
                     rgba(20,20,20, .1)),
    url(../images/Tpod_Material6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    min-height: 30rem;
}


.image-container--invest {
    padding: 100px 2.5% 80px;
    background: linear-gradient(
                     rgba(20,20,20, .2), 
                     rgba(20,20,20, .1)),
    url(../images/Tpod_Material3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    min-height: 30rem;
}


.image-container--contact {
    padding: 100px 2.5% 80px;
    background-color: $color-primary;
    min-height: 30rem;
}

.main-title-wh {
        color: $color-black;
        line-height: 6rem;
        text-align: center;
        font-size: 3.5rem;
        text-transform: none;
        font-weight: 300;
        padding-bottom: 7rem;
        margin-bottom: 0;  
}

.header-section {

    .main-title {
        color: $color-white;
        line-height: 6rem;
        text-align: center;
        font-size: 3.5rem;
        text-transform: none;
        font-weight: 300;
        padding-bottom: 1rem;
        margin-bottom: 0;
    }
    &__text {
        color: $color-white;
        font-size: 1.6rem;
        text-align: center;
        max-width: 65%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        font-weight: 300;
        
    }
}
.about-page {
    &__image-box {
        min-height: 445px;
        background: url(../images/robert.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;  
    }
    &__image-box-2 {
        min-height: 445px;
        background: url(../images/podd.png);
        background-position: 50% 20%;
        background-repeat: no-repeat;
        background-size: cover;     
    }
    &__text-box {
        padding: 40px 45px 15px;
        min-height: 445px;
    }
}

.start-page {
    &__image-box {
        min-height: 355px;
        background: url(../images/Tpod_Material10.jpg);
        background-position: 30% 20%;
        background-repeat: no-repeat;
        background-size: cover;     
    }
    &__image-box-2 {
        background: url(../images/Tpod_Material2.jpg);
        min-height: 445px;
        background-position: 30% 20%;
        background-repeat: no-repeat;
        background-size: cover; 
    }
}

.second-row {
    margin-top: 1rem;
}

.people {
    &-profile {
        margin-bottom: 2rem;
        font-size: 1rem;
        text-transform: uppercase;
        color: $color-grey-3;
    }
    &-description {
        color: $color-white;
        font-size: 1.6rem;
            line-height: 1.8rem;
    }
    &-einride {
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-white;
                line-height: 3rem;

    }
    &__info-box {
        padding: 20px;
        bottom: 80px;
        position: absolute;
    }
}

.content-wrapper {
    max-width: 986px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.small-box {
    padding: 30px;
     min-height: 10rem;
}

.contact-title {
    padding-bottom: 1rem;
    padding-top: 0px; 
}
