.grey-section {
    background-color: $color-grey-0;
    padding: 60px 2.5% 65px;
}

.light-section {
    padding: 60px 2.5% 5px;
}

.section {
    &__small-box {
        background: $color-white;
        min-height: 450px;
        padding: 3.5rem;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__video-container {
        height: 450px;
        border-width: 0px;
    }
    &__main-text {
        font-size: 1.6rem;
    }
}

* {
    border-width: 0;
}

.image-container {
    padding: 100px 2.5% 125px;
    background: linear-gradient(
                     rgba(20,20,20, .8), 
                     rgba(20,20,20, .6)),
    url(../images/rain.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40rem;
}

.image-container--about {
    padding: 100px 2.5% 125px;
    background: linear-gradient(
                     rgba(20,20,20, .8), 
                     rgba(20,20,20, .6)),
    url(../images/skynight.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    min-height: 40rem;
}

.image-container--product {
    padding: 100px 2.5% 125px;
    background-color: $color-aqua;
    background-repeat: no-repeat;
    background-size: cover;   
    min-height: 40rem;
    .main-title {

    }
}



.image-container--invest {
    padding: 100px 2.5% 125px;
    background: linear-gradient(
                     rgba(20,20,20, .7), 
                     rgba(20,20,20, .5)),
    url(../images/road.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;   
    min-height: 40rem;
}


.image-container--contact {
    padding: 100px 2.5% 125px;
    background-color: $color-primary-1;
    min-height: 40rem;
}



.header-section {

    .main-title {
        color: $color-white;
        font-family: 'Roboto';
        line-height: 6rem;
        text-align: center;
        font-size: 5.5rem;
        text-transform: none;
        font-weight: 100;
        padding-bottom: 1rem;
        margin-bottom: 0;
    }
    &__text {
        color: $color-white;
        font-size: 1.8rem;
        text-align: center;
        max-width: 57%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        
    }
}
.about-page {
    &__image-box {
        min-height: 445px;
        background: url(../images/robert.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;  
    }
    &__image-box-2 {
        min-height: 445px;
        background: url(../images/podd.png);
        background-position: 50% 20%;
        background-repeat: no-repeat;
        background-size: cover;     
    }
    &__text-box {
        padding: 40px 45px 15px;
        min-height: 445px;
        background-color: $color-white;
    }
}

.start-page {
    &__image-box {
        min-height: 445px;
        background: url(../images/tpodd.png);
        background-position: 30% 20%;
        background-repeat: no-repeat;
        background-size: cover;     
    }
}

.second-row {
    margin-top: 1rem;
}

.people {
    &-profile {
        margin-bottom: 2rem;
        font-size: 1rem;
        text-transform: uppercase;
        color: $color-grey-3;
    }
    &-description {
        color: $color-white;
        font-size: 1.6rem;
            line-height: 1.8rem;
    }
    &-einride {
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-white;
                line-height: 3rem;

    }
    &__info-box {
        padding: 20px;
        bottom: 80px;
        position: absolute;
    }
}

.content-wrapper {
    max-width: 786px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

}

.small-box {
    padding: 30px;
     min-height: 10rem;
}

.contact-title {
    padding-bottom: 1rem;
    padding-top: 0px; 
}
