.socials {
    display: flex;
    justify-content: center;
    padding: 3.5rem 0rem;

    a {
        padding: 1rem 1.5rem;
    }

}

.social-item {
    padding: 1rem;
    color: $color-white;
    .fa {
        font-size: 24px;
    }
}

.social-linkedin {

}

.social-twitter {

    margin-top: 0.2rem;
}
.social-facebook {

}

.social-instagram {

}