.start {

    &__link {
        color: $color-white;
        .fa-long-arrow-right {
            margin-top: 2px;
        }
    }

    &__link-text {
        margin: 1px;
        display: inline;
    }

    &__intro {
        max-width: 100%;
        padding: 2.5% 15%;
        background: url('../images/Tpod_Material5.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 47rem;
    }
    &__text-box {
        text-align: center;
    }
    &__header-title {
        font-family: 'Karla', 'Roboto', Arial, Helvetica, sans-serif;
        color: $color-black;
        font-weight: 300;
        font-size: 3.5rem;
        line-height: 4.75rem;
    }
    &__main-text {
        color: $color-white;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    &__button {
        background: $color-primary;
        color: $color-white;
        font-weight: 400;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        &:hover {
            color: $color-white!important;
        }
    }
}