.margin-bottom-1 {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.thank-you {
    border: none!important;
    margin: 8rem!important;
    font-size: 1.8rem;
}

.quote {
    font-size: 2.5rem;
    line-height: 4rem;
    color: $color-white;
    word-break: no-break;
    bottom: 0;
    font-family: 'Roboto';
    font-weight: 200;
}

.green-bg {
    display: flex;
    background-color: $color-primary-1;
}

.quote-icon-container {
    width: 5rem;
    margin-bottom: 4rem;
}

.quote-icon {
    width: 100%;
}