.margin-bottom-1 {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.margin-bottom-4 {
    margin-bottom: 4rem;
}

.margin-bottom-6 {
    margin-bottom: 6rem;
}

.thank-you {
    border: none!important;
    margin: 8rem!important;
    font-size: 1.8rem;
}

.quote {
    font-size: 2.5rem;
    line-height: 4rem;
    color: $color-white;
    word-break: no-break;
    bottom: 0;
    font-family: 'Dosis', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.green-bg {
    display: flex;
    background-color: $color-primary;
}

.quote-icon-container {
    width: 5rem;
    margin-bottom: 4rem;
}

.quote-icon {
    width: 100%;
}

.no-bg {
    padding: 0px;
    text-align: center;
}

.press-page__text-box {
    padding: 2rem 3rem;
    background-color: transparent;
}

.press-date {
    font-size: 1.4rem;
    line-height: 2rem;
}

.press-url {
    .fa-long-arrow-right {
        padding: 0.5rem;
    }
}

.press-image {
    height: 8rem;
    line-height: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: auto;
        max-width: 18rem;
        margin-right: auto;
        margin-left: auto;
    }
}

.press-main-text {
    padding: 1rem 0;
    color: $color-grey-5;
}

.center {
    text-align: center;
}

.learn-more-button {
    border-bottom: none;
    background-color: $color-primary;
    color: $color-white;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    border-radius: 5px;
}

.learn-more {
    border-bottom: none!important;
    padding-bottom: 1rem!important;
}