.video {
    &__conatiner {
        height: 100%;
        width: 100%;
    }
}

#video-player {
    border-width: 0;
}

#background-video {
    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed; // optional depending on what you want
}