@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext");
html {
  height: 100%; }

body {
  font-family: 'Karla', sans-serif;
  min-height: 100%;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

.react-count-down {
  font-size: 4rem;
  padding: 2rem;
  color: #222222;
  text-align: center; }

.wrapper {
  min-height: calc(100vh - 50px);
  flex: 1; }

.start-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-size: cover; }

p {
  color: #222222; }

h1 {
  font-size: 4.2rem;
  color: #525252; }

a {
  font-weight: 400;
  color: #0AB68E;
  -webkit-transition: .25s ease-out;
  transition: .4s ease-out;
  cursor: pointer; }
  a:hover {
    color: #007949;
    text-decoration: none; }

.side-info {
  font-size: 1.6rem;
  list-style: none;
  padding: 0;
  color: #525252; }
  .side-info__email {
    margin-top: 1.825rem; }

.side-title {
  margin-top: 3rem;
  font-weight: 600;
  color: #4c4c4c;
  font-size: 1.8rem; }

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  display: block; }

.nav > a {
  padding: 18px;
  font-size: 1.6rem !important; }

.navbar-nav > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 26px;
  font-weight: 400; }

.navbar-nav {
  margin-top: 2.8rem;
  float: right;
  font-size: 1.6rem;
  font-weight: 400; }

.navbar-default {
  background: transparent;
  border: none; }

.navbar-header {
  margin-top: 0.4rem; }

.navbar-header > svg {
  fill: #ffffff;
  width: 18rem; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  color: #ffffff; }

.navbar-default .navbar-nav > a {
  color: #525252; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
  width: 25px;
  height: 3px; }

.navbar-toggle {
  margin-right: 0px;
  float: left; }

.navbar-brand {
  padding: 1.5rem 0; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent; }

.article-title {
  font-size: 3.2rem;
  font-weight: 300;
  color: #222222; }

.App {
  display: flex; }

.App-header {
  width: 100%; }

.sm-btn {
  background-color: #0AB68E;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 600;
  width: 40px;
  display: inline-block; }

.footer-container {
  background: #525252;
  padding: 2rem;
  color: #ffffff; }

.footer-heading {
  font-weight: 600; }

#root {
  display: flex;
  min-height: 100%;
  flex-direction: column; }

.main-text {
  margin: 3rem 0;
  line-height: 2.25rem; }
  .main-text h4 {
    font-weight: 600;
    line-height: 1.5rem; }

.start-page {
  display: flex;
  justify-content: center; }

.start-page-container {
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  padding-top: 12vh; }

.page-section {
  padding-top: 2rem; }

.App-header .navbar-default {
  background: transparent;
  color: #ffffff;
  box-shadow: none; }

.App-header .navbar-default .navbar-nav > a {
  color: #4c4c4c; }
  .App-header .navbar-default .navbar-nav > a:hover {
    color: #525252; }

.App-header .navbar-header > svg {
  fill: #222222; }

.App-header .navbar-default .navbar-toggle .icon-bar {
  background-color: #4c4c4c; }

.start-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-size: cover; }

p {
  color: #222222; }

h1 {
  font-size: 4.2rem;
  color: #007949;
  font-weight: 600; }

a {
  font-weight: 400;
  color: #0AB68E;
  -webkit-transition: .25s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer; }

a:hover {
  color: #007949;
  text-decoration: none; }

.side-info {
  font-size: 1.6rem;
  list-style: none;
  padding: 0;
  color: #525252; }

.side-info__email {
  margin-top: 1.825rem; }

.side-title {
  margin-top: 3rem;
  font-weight: 600;
  color: #323232;
  font-size: 1.8rem; }

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  display: block; }

.navbar-nav > a {
  padding: 20px 20px;
  color: #ffffff;
  font-weight: 700; }

.navbar-nav {
  margin-top: 1.4rem;
  float: right;
  font-size: 1.6rem;
  font-weight: 400; }

.navbar-default {
  background: #323232;
  border: none;
  color: #ffffff;
  position: relative; }
  .navbar-default .container {
    width: auto; }

.navbar {
  margin-bottom: 0px; }

.navbar-header {
  margin-top: 0.2rem; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  text-decoration: none;
  color: #323232; }

a:active {
  color: #525252; }

.navbar-default .navbar-nav > a {
  -webkit-transition: .25s ease-out;
  transition: .4s ease-out;
  color: #b2b2b2; }
  .navbar-default .navbar-nav > a:hover {
    color: #ffffff; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
  width: 25px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent; }

.fade-wait-leave {
  opacity: 1; }

.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity .4s ease-in; }

.fade-wait-enter {
  opacity: 0; }

.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .4s ease-in .6s; }

.fade-wait-height {
  transition: height .6s ease-in-out; }

.socials {
  display: inline-flex; }
  .socials a {
    padding: 1rem; }

.background-video {
  position: fixed;
  z-index: -100;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

._2jFFg {
  width: auto;
  height: auto;
  max-width: none;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translateX(-50%) translateY(-50%); }

._1CiqE {
  display: none; }

._13nyE {
  background-color: transparent; }

._9W0_s {
  display: none; }
