@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext");
html {
  height: 100%; }

body {
  font-family: 'Karla', sans-serif;
  min-height: 100%;
  display: flex;
  font-size: 18px;
  flex-direction: column;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

.react-count-down {
  font-size: 4.2rem;
  padding: 1rem;
  color: #121212;
  text-align: center; }

.wrapper {
  min-height: calc(100vh - 50px);
  flex: 1; }

.start-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-size: cover; }

p {
  color: #525252 !important; }

h1 {
  font-size: 4.2rem;
  color: #525252; }

h4 {
  text-transform: uppercase;
  color: #121212; }

a {
  font-weight: 400;
  color: #007949;
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
  cursor: pointer; }
  a:hover {
    color: #007949;
    text-decoration: none; }
  a:focus {
    text-decoration: none; }

.side-info {
  font-size: 1.6rem;
  list-style: none;
  padding: 0;
  color: #525252; }
  .side-info__email {
    margin-top: 1.825rem; }

.side-title {
  margin-top: 3rem;
  font-weight: 600;
  color: #757575;
  font-size: 1.8rem; }

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  display: block; }

.nav > a {
  padding: 18px;
  font-size: 1.6rem !important; }

.navbar-nav > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 40px; }

.navbar-nav {
  margin-top: 2.8rem;
  float: right;
  font-size: 1.6rem;
  font-weight: 400; }

.navbar-default {
  background: transparent;
  border: none; }

.navbar-header {
  margin-top: 0.4rem; }

.navbar-header > svg {
  fill: #ffffff;
  width: 18rem; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  color: #ffffff; }

.navbar-default .navbar-nav > a {
  color: #e6e6e6; }
  .navbar-default .navbar-nav > a:hover {
    color: #ffffff; }

.navbar-default .navbar-nav > a.is-active {
  color: #9e9e9e; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
  width: 25px;
  height: 3px; }

.navbar-toggle {
  margin-right: 0px;
  float: left;
  margin-top: 6px; }

.navbar-brand {
  padding: 1.5rem 0;
  line-height: 35px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent; }

.article-title {
  font-size: 3.8rem;
  font-weight: 300;
  color: #121212;
  margin-bottom: 3rem; }

@media only screen and (max-width: 640px) {
  .article-title {
    font-size: 2.5rem;
    margin-bottom: 2rem; } }

.article-end {
  margin-top: 2rem; }

.App {
  display: flex; }

.App-header {
  width: 100%; }

.is-active {
  color: green; }

.App-header .navbar-default {
  background: transparent;
  color: #ffffff;
  box-shadow: none; }

.App-header .navbar-default .navbar-nav > a {
  color: #4c4c4c; }
  .App-header .navbar-default .navbar-nav > a:hover {
    color: #525252; }

.App-header .navbar-header > svg {
  fill: #121212; }

@media only screen and (max-width: 760px) {
  .App-header .navbar-default {
    background-color: #323232 !important; }
  .navbar-nav {
    background-color: transparent; }
  .navbar-collapse {
    float: left;
    box-shadow: none;
    padding-bottom: 2rem; }
  .navbar-default .navbar-nav > a {
    display: block;
    float: left;
    width: 100%;
    padding: 1.2rem; }
  .navbar-default .navbar-nav > a {
    color: #f7f7f7 !important; }
    .navbar-default .navbar-nav > a:hover {
      color: #ffffff; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #7d7d7d; }
  .navbar-header > svg {
    fill: #ffffff !important;
    width: 14rem; }
  .start-page-container {
    padding-top: 5vh;
    position: absolute;
    z-index: 10; }
  .newsletter-input {
    width: 20rem !important; }
  .btn {
    margin-left: 5px;
    padding: 1.4rem 1rem;
    border-radius: 4px; }
  .react-count-down {
    font-size: 2.2rem; } }

.sm-btn {
  background-color: #0AB68E;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 600;
  width: 40px;
  display: inline-block; }

.btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  padding: 1.4rem 3rem;
  margin-top: 2px;
  margin-left: 0.5rem;
  border-radius: 0;
  transition: 0.5s ease-in; }
  .btn:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white; }
  .btn:focus {
    color: #ffffff; }

.input-field {
  display: inline-block; }

.footer-container {
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.06);
  background: #f1f1f1;
  color: #757575;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem; }

.footer-class {
  display: block;
  justify-content: center;
  text-align: center;
  padding: 45px 0; }
  .footer-class .footer-heading {
    padding: 0.5rem; }
  .footer-class .info, .footer-class .info-link {
    padding: 0.5rem;
    display: block; }

#root {
  display: flex;
  min-height: 100%;
  flex-direction: column; }

.main-text {
  margin: 3rem 0;
  line-height: 2.5rem;
  color: #525252; }
  .main-text h4 {
    font-weight: 600;
    line-height: 1.5rem; }

.main-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e6e6e6; }

.start-page {
  display: flex;
  justify-content: center; }
  .start-page-bg {
    background-image: url("../images/mobile-bg.jpg");
    width: 100%;
    height: 100%;
    position: absolute; }

.start-page-container {
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  padding-top: 10vh; }

.page-section {
  padding-top: 2rem; }

.start-container {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-size: cover; }

p {
  color: #222222; }

h1 {
  font-size: 4.2rem;
  color: #007949;
  font-weight: 600; }

.side-info {
  font-size: 1.6rem;
  list-style: none;
  padding: 0;
  color: #525252; }

.side-info__email {
  margin-top: 1.825rem; }

.side-title {
  margin-top: 3rem;
  font-weight: 600;
  color: #323232;
  font-size: 1.8rem; }

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  display: block; }

.navbar-nav {
  margin-top: 1.4rem;
  float: right;
  font-size: 1.4rem;
  font-weight: 400; }

.navbar-default {
  background: #323232;
  border: none;
  color: #ffffff;
  position: relative;
  box-shadow: none; }
  .navbar-default .container {
    width: auto; }

.navbar {
  margin-bottom: 0px;
  min-height: 7rem; }

.navbar-header {
  margin-top: 0.2rem; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  text-decoration: none;
  color: #323232; }

.navbar-default .navbar-toggle {
  border-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
  width: 25px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent; }

.newsletter-signup {
  justify-content: center;
  display: flex;
  text-align: center; }

.news-letter-title {
  font-size: 2.5rem;
  font-weight: 300;
  color: #121212; }

.thank-you {
  margin-left: 0; }

.fade-wait-leave {
  opacity: 1; }

.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity .4s ease-in; }

.fade-wait-enter {
  opacity: 0; }

.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .4s ease-in .6s; }

.fade-wait-height {
  transition: height .6s ease-in-out; }

.newsletter-input {
  padding: 1.5rem 1rem;
  width: 40rem;
  font-size: 1.4rem;
  border: none; }

.socials {
  display: flex;
  justify-content: center;
  padding: 4.5rem 0rem;
  border-bottom: 1px solid #a9a9a9; }
  .socials a {
    padding: 1rem 1.5rem; }

.social-item {
  padding: 1rem; }

.social-linkedin {
  width: 2rem; }

.social-twitter {
  width: 2rem;
  margin-top: 0.2rem; }

.social-facebook {
  width: 2rem; }

.social-instagram {
  width: 2rem; }

.background-video {
  position: fixed;
  z-index: -100;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

._2jFFg {
  width: auto;
  height: auto;
  max-width: none;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translateX(-50%) translateY(-50%); }

@media (min-aspect-ratio: 16 / 9) {
  ._2jFFg {
    max-height: none; } }

._1CiqE {
  display: none; }

._13nyE {
  background-color: transparent; }

._9W0_s {
  display: none; }

.hide-on-desktop {
  position: relative;
  width: 100%;
  height: 100vh; }

@media (max-width: 640px) and (min-width: 0) {
  .hide-on-mobile {
    display: none !important;
    visibility: hidden; } }

@media (min-width: 640px) {
  .hide-on-desktop {
    display: none !important;
    visibility: hidden; } }
