@import "_about";
@import "_all.scss";
@import "_btn.scss";
@import "_colors.scss";
@import "_footer.scss";
@import "_home.scss";
@import "_index.scss";
@import "_socials.scss";
@import "_video.scss";
@import "_mobile.scss";
@import "_header.scss";
@import "_sections.scss";
@import "_jobs.scss";
@import "_utilis.scss";


@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');